<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyt.music.impl.mapper.pv.PvInfoMapper">
  <resultMap id="BaseResultMap" type="com.cyt.music.interfaces.pojo.Pv.PvInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="main_page_count" jdbcType="INTEGER" property="mainPageCount" />
    <result column="contact_page_count" jdbcType="INTEGER" property="contactPageCount" />
    <result column="more_page_count" jdbcType="INTEGER" property="morePageCount" />
    <result column="pay_page_count" jdbcType="INTEGER" property="payPageCount" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ip, main_page_count, contact_page_count, more_page_count, pay_page_count, country, 
    date, remark
  </sql>
  <select id="selectByExample" parameterType="com.cyt.music.interfaces.pojo.Pv.PvInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pv_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pv_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pv_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cyt.music.interfaces.pojo.Pv.PvInfoExample">
    delete from pv_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cyt.music.interfaces.pojo.Pv.PvInfo">
    insert into pv_info (id, ip, main_page_count, 
      contact_page_count, more_page_count, pay_page_count, 
      country, date, remark
      )
    values (#{id,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{mainPageCount,jdbcType=INTEGER}, 
      #{contactPageCount,jdbcType=INTEGER}, #{morePageCount,jdbcType=INTEGER}, #{payPageCount,jdbcType=INTEGER}, 
      #{country,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cyt.music.interfaces.pojo.Pv.PvInfo">
    insert into pv_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="mainPageCount != null">
        main_page_count,
      </if>
      <if test="contactPageCount != null">
        contact_page_count,
      </if>
      <if test="morePageCount != null">
        more_page_count,
      </if>
      <if test="payPageCount != null">
        pay_page_count,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="mainPageCount != null">
        #{mainPageCount,jdbcType=INTEGER},
      </if>
      <if test="contactPageCount != null">
        #{contactPageCount,jdbcType=INTEGER},
      </if>
      <if test="morePageCount != null">
        #{morePageCount,jdbcType=INTEGER},
      </if>
      <if test="payPageCount != null">
        #{payPageCount,jdbcType=INTEGER},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cyt.music.interfaces.pojo.Pv.PvInfoExample" resultType="java.lang.Long">
    select count(*) from pv_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pv_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.ip != null">
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.mainPageCount != null">
        main_page_count = #{record.mainPageCount,jdbcType=INTEGER},
      </if>
      <if test="record.contactPageCount != null">
        contact_page_count = #{record.contactPageCount,jdbcType=INTEGER},
      </if>
      <if test="record.morePageCount != null">
        more_page_count = #{record.morePageCount,jdbcType=INTEGER},
      </if>
      <if test="record.payPageCount != null">
        pay_page_count = #{record.payPageCount,jdbcType=INTEGER},
      </if>
      <if test="record.country != null">
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.date != null">
        date = #{record.date,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pv_info
    set id = #{record.id,jdbcType=INTEGER},
      ip = #{record.ip,jdbcType=VARCHAR},
      main_page_count = #{record.mainPageCount,jdbcType=INTEGER},
      contact_page_count = #{record.contactPageCount,jdbcType=INTEGER},
      more_page_count = #{record.morePageCount,jdbcType=INTEGER},
      pay_page_count = #{record.payPageCount,jdbcType=INTEGER},
      country = #{record.country,jdbcType=VARCHAR},
      date = #{record.date,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cyt.music.interfaces.pojo.Pv.PvInfo">
    update pv_info
    <set>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="mainPageCount != null">
        main_page_count = #{mainPageCount,jdbcType=INTEGER},
      </if>
      <if test="contactPageCount != null">
        contact_page_count = #{contactPageCount,jdbcType=INTEGER},
      </if>
      <if test="morePageCount != null">
        more_page_count = #{morePageCount,jdbcType=INTEGER},
      </if>
      <if test="payPageCount != null">
        pay_page_count = #{payPageCount,jdbcType=INTEGER},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cyt.music.interfaces.pojo.Pv.PvInfo">
    update pv_info
    set ip = #{ip,jdbcType=VARCHAR},
      main_page_count = #{mainPageCount,jdbcType=INTEGER},
      contact_page_count = #{contactPageCount,jdbcType=INTEGER},
      more_page_count = #{morePageCount,jdbcType=INTEGER},
      pay_page_count = #{payPageCount,jdbcType=INTEGER},
      country = #{country,jdbcType=VARCHAR},
      date = #{date,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>