<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyt.music.impl.mapper.Order.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.cyt.music.interfaces.pojo.order.OrderInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="room_type" jdbcType="VARCHAR" property="roomType" />
    <result column="person_num" jdbcType="VARCHAR" property="personNum" />
    <result column="target" jdbcType="VARCHAR" property="target" />
    <result column="money_sum" jdbcType="VARCHAR" property="moneySum" />
    <result column="passport" jdbcType="VARCHAR" property="passport" />
    <result column="schedule" jdbcType="VARCHAR" property="schedule" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, phone, email, room_type, person_num, target, money_sum, passport
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cyt.music.interfaces.pojo.order.OrderInfo">
    insert into order_info (id, name, phone, 
      email, room_type, person_num, 
      target, money_sum, passport,tx
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{roomType,jdbcType=VARCHAR}, #{personNum,jdbcType=VARCHAR}, 
      #{target,jdbcType=VARCHAR}, #{moneySum,jdbcType=VARCHAR}, #{passport,jdbcType=VARCHAR},#{tx,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cyt.music.interfaces.pojo.order.OrderInfo">
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="roomType != null">
        room_type,
      </if>
      <if test="personNum != null">
        person_num,
      </if>
      <if test="target != null">
        target,
      </if>
      <if test="moneySum != null">
        money_sum,
      </if>
      <if test="passport != null">
        passport,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null">
        #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="personNum != null">
        #{personNum,jdbcType=VARCHAR},
      </if>
      <if test="target != null">
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="moneySum != null">
        #{moneySum,jdbcType=VARCHAR},
      </if>
      <if test="passport != null">
        #{passport,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cyt.music.interfaces.pojo.order.OrderInfo">
    update order_info
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null">
        room_type = #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="personNum != null">
        person_num = #{personNum,jdbcType=VARCHAR},
      </if>
      <if test="target != null">
        target = #{target,jdbcType=VARCHAR},
      </if>
      <if test="moneySum != null">
        money_sum = #{moneySum,jdbcType=VARCHAR},
      </if>
      <if test="passport != null">
        passport = #{passport,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cyt.music.interfaces.pojo.order.OrderInfo">
    update order_info
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      room_type = #{roomType,jdbcType=VARCHAR},
      person_num = #{personNum,jdbcType=VARCHAR},
      target = #{target,jdbcType=VARCHAR},
      money_sum = #{moneySum,jdbcType=VARCHAR},
      passport = #{passport,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryOrderInfo" parameterType="com.cyt.music.interfaces.pojo.order.OrderInfo" resultType="com.cyt.music.interfaces.pojo.order.OrderInfo">
    SELECT  t.name,
    t.id,
    t.phone,
    t.email,
    t.room_type as roomType,
    t.person_num as personNum,
    t.target,
    t.money_sum as moneySum,
    t.passport,
    t.tx,
    t.schedule
    FROM
    order_info t
    <!--<where>-->
    <!--<if test="scoreName!=null and scoreName!=''">-->
    <!--t.score_name LIKE '%${scoreName}%'-->
    <!--</if>-->
    <!--</where>-->
    <!-- 分页尾部 -->
    <!--<include refid="com.cyt.music.impl.mapper.sys.CommonSqlMapper.page_end" />-->
  </select>
</mapper>